:root {
    --color-primary: #FF9AA2; /* Rosa claro */
    --color-secondary: #FFDAC1; /* Melocotón pastel */
    --color-tertiary: #E2F0CB; /* Verde pastel */
    --color-button: #FF6F61; /* Coral */
    --color-button-hover: #FF3B2F; /* Coral más oscuro */
    --color-text: #4A4A4A; /* Gris oscuro */
    --color-white: #FFFFFF; /* Blanco */
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 800px;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.banner-image {
    width: 180px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 20px;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-button-hover);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #C7E9B0; /* Verde pastel más oscuro */
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

.result-list {
    margin-top: 15px;
    color: #FF6F61; /* Coral */
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    margin-top: 20px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}